* {
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.top {
  overflow: hidden;
  height: 750px;
  background: #000000;
  border-radius: 0px 0px 0px 100px;
}
.container {
  width: 92%;
  margin: auto;
}
.navbars {
  position: fixed;
  top: 0;
  width: 100%;
  height: 4rem;
  z-index: 999;
  background-color: #000000;
}
.main-navs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}
.logo span {
  font-size: 20px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}
.list nav ul {
  display: flex;
  gap: 2rem;
}
.list ul li a {
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  font-size: 20px;
  cursor: pointer;
}
.buttons button {
  background-color: rgba(124, 237, 161, 1);
  width: 140px;
  height: 38px;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;

  color: #000000;
}
.top-middle {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.m-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 9rem;
}
.m-nav .nav-left {
  color: rgba(255, 255, 255, 1);
}
.nav-left h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 65px;

  color: #ffffff;
}
.nav-left p {
  margin-top: 1.5rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  color: #ffffff;
}
.nav-btns {
  margin-top: 1.5rem;
  display: flex;
  gap: 1.5rem;
}

.nav-right {
  border: 1px solid white;
  width: 450px;
  height: 321px;
}
.nav-right img {
  width: 450px;
  height: 321px;
  margin-top: 1.2rem;
  margin-left: -1.2rem;
}

.nav-btns button:nth-child(1) {
  width: 150px;
  height: 40px;
  cursor: pointer;
  background: #7ceda1;
  border-radius: 10px;
  font-size: 18px;
}
.nav-btns button:nth-child(2) {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 0.4rem;
  height: 40px;
  color: #ffffff;
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 10px;
  overflow: hidden;
  font-size: 18px;
}

.features {
  margin-top: 4rem;
  min-height: 800px;
}
.top-features {
  display: flex;
  justify-content: space-between;
}
.f-left {
  flex: 6;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.f-left h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  color: #000000;
}
.f-left h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;

  color: #000000;
}
.f-right {
  flex: 6;
  display: flex;
  justify-content: flex-end;
  margin-top: 13rem;
}
.f-right p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  width: 80%;
  color: #000000;
}
.m-features {
  height: 488px;
  margin-top: 5rem;
  background: #f1f1f1;
  border: 1px solid #ebebeb;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}
.mf-left {
  flex: 6;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.mf-left h1 {
  width: 60%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;

  color: #000000;
}
.mf-left p {
  width: 60%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;

  color: #000000;
}
.mf-right {
  flex: 6;
}

.mf-left button {
  margin-top: -5px;
  cursor: pointer;
  text-align: start;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 210px;
  height: 37px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  color: #000000;
  border: none;
}

.mf-right img {
  width: 480px;
  height: 320px;
  margin-top: 3rem;
}
.customer {
  margin-top: 4rem;
  padding: 2rem;
  height: 580px;
  background: #fffbee;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10rem;
}

.customer-left {
  flex: 6;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.customer-right {
  flex: 6;
  margin-left: 5rem;
  margin-top: 15rem;
}

.customer-left h1 {
  width: 80%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  color: #000000;
}

.customer-right p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  color: #32584a;
}
.customer-right h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  color: #32584a;
}

.customer-right p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  color: rgba(50, 88, 74, 0.7);
}
hr {
  width: 82%;
}
.texts {
  margin-top: 1rem;
}

.customer-right img {
  margin-left: -4rem;
  width: 35px;
  height: 35px;
}
.contact {
  margin-top: 10rem;
  height: 500px;
  margin-top: 5rem;
  background: #eaf2fd;
}
.c-container {
  width: 80%;
  margin: auto;
}
.c-main {
  display: flex;
}
.c-left {
  flex: 4;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  width: 256px;
  height: 415px;
}
.item-1 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.item-1 h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  color: #4f4f4f;
}
.item-1 h2 img {
  width: 28px;
  margin-right: 5px;
}
.item-1 u {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #4f4f4f;
}

.item-2 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.item-2 h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  color: #4f4f4f;
}
.item-2 h2 img {
  width: 22px;
  margin-right: 10px;
}
.item-2 span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #4f4f4f;
}

.item-3 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.item-3 h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  color: #4f4f4f;
}
.item-3 h2 img {
  width: 25px;
  margin-right: 8px;
}

.item-3 span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #4f4f4f;
}

.c-right {
  margin-top: -4rem;
  display: flex;
  flex-direction: column;
  flex: 6;
  width: 600px;
  height: 640px;
  background: #ffffff;
  margin-bottom: 5rem;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.08);
}
.form-top {
  width: 90%;
  margin: 4rem auto 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form-top h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  color: #000000;
}
.form-top p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #828282;
}

.form-bottom {
  width: 90%;
  margin: 5rem auto 0 auto;
  display: flex;
  flex-direction: column;
  gap: 37px;
}
.form-bottom input {
  height: 30px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #828282;
  outline: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #828282;
}
.c-btns button {
  padding: 16px 40px;
  width: 180px;
  height: 50px;
  background: #2f80ed;
  border: none;
  cursor: pointer;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
}
